body{
margin:0;
background:#0b1220;
color:white;
font-family:Arial;
}

.sidebar{
width:220px;
height:100vh;
background:#111827;
padding:20px;
display:flex;
flex-direction:column;
gap:20px;
}

.sidebar a{
color:white;
text-decoration:none;
}

.sidebar a:hover{
color:#facc15;
}